{
	"GameApi": "http://localhost:8000",
	"LoginServer": "http://localhost:8001",
	"GameServer": "localhost:9000",
	"ClientExe": "c:\\Turbine\\Asheron's Call\\acclient.exe",
  "TestAccounts": [
      {
        "Username": "test",
        "Password": "test"
      },
      {
        "Username": "test2",
        "Password": "test2"
      }
    ],
	"ApiVersion": 1
}